<h1>Pirate</h1>
<h2>Name: <%= @pirate.name %></h2>
<h2>Weight: <%= @pirate.weight %></h2>
<h2>Height: <%= @pirate.height %></h2>


<% @ships.each do |ship| %>
  <h1>Ships:</h1>
  <p>Ship Name: <%= ship.name %></p>
  <p>Ship Type: <%= ship.type %></p>
  <p>Ship Booty: <%= ship.booty %></p>
<% end %>
