<!-- we need to display the objects back to the user once the pirate and the ships have been created-->
<h1>Pirates</h1>
<div class="pirate">
<!-- in this show we use the instance variable @pirate and the reader methods .name, .weight, .height to display the pirate information-->
  <h3>Name: <%= @pirate.name %></h3><br>
  <h4>Weight: <%= @pirate.weight %> pounds</h4><br>
  <h4>Height: <%= @pirate.height %> inches</h4>
</div><br>
<!-- we itterate over @pirates to display the name, type and booty -->
<h1>Ships</h1>
<% @ships.each do |ship| %>
  <div class="ship">
    <p>Name: <%= ship.name %></p><br>
    <p>Type: <%= ship.type %></p><br>
    <p>Booty: <%= ship.booty %></p>
  </div><br>
<% end %>
